body {
 	min-width: 300px; /* your desired width */
  max-width: 300px;
  min-height: 375px;
  max-height: 375px;
  position: relative;
  vertical-align: middle;
  background-color: #E0FFFF;
}

button {
  display: inline;
  margin: 0 auto 0 auto;
  float: left;
  background-color: transparent;
  border: 2px black solid;
  border-radius: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10pt;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #3e8e41;
  transition: all ease 0.8s;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
  transition: all ease 0.1s;
}

#title {
	font-size: 12pt;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.savebutton {
	height: 90px;
	width: 300px;
	background-color: transparent;
	border: 2px black solid;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 15pt;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#viewtabs {
	margin-top: 10px;
	text-align: right;
}