html, body {
	padding: 0;
	margin: 10px;
	height: 100%;
	min-height: 100%;
}

body {
 	min-width: 300px; /* your desired width */
  	max-width: 300px;
  	min-height: 375px;
  	max-height: 375px;
  	position: relative;
  	vertical-align: middle;
  	background-color: #E0FFFF;
}

button {
	display: inline;
	margin: 0 auto 0 auto;
	float: left;
	background-color: transparent;
	border: 2px black solid;
    border-radius: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #3e8e41;
  transition: all ease 0.8s;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
  transition: all ease 0.1s;
}

.center {
	text-align: center;
}

.inline {
	display: inline;
	text-align: left;
}

#goback {
	text-align: right;
}

.savedtabs {
	width: 92px; 
	height: 92px; 
	float: left; 
	border: 1px solid black;
	display: inline-block;
	border: 2px black solid;
	border-radius: 8px;
	margin: 2px;
}

.savedtabs:hover {
	background-color: #3e8e41;
  	transition: all ease 0.8s;
}

.savedtabs img {
	min-width: 32px;
	max-width: 32px;
	min-width: 32px;
	max-height: 32px;
	display: block;
	margin: 18px auto auto 30px; /*to center img*/
    float: none;	
    text-align: center;
}

.urltext {
	display: block;
    float: none;	
    text-align: center;
    white-space: nowrap;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 8pt;
}

.x {
	margin: 1.5px 6.5px 0px 0px;
	display: block;
    float: right;	
    text-align: right;
    white-space: nowrap;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13pt;
}

p.x:focus {
  outline: 0;
}

p.x:hover {
  color: #191919;
  font-size: 15pt;
  transform: translateY(-3px);
  transition: all ease 0.5s;
}

p.x:active {
  background-color: #3e8e41;
  transform: translateY(3px);
  transition: all ease 0.1s;
}

.savedtabs a {
	color: black;
	text-decoration: none;
}

#delete {
	height: 32px;
	width: 215px;
	border: 2px black solid;
    border-radius: 10px;
    display: inline;
    margin-top: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    float: left;
}

#prev {
	margin-top: 10px;
	margin-right: 13px
}

#next {
	margin-top: 10px;
	margin-left: 13px
}

#goback {
	margin-top: -10px;
	float: right;
}
